/*#region GeneralStyles*/
:root{ /* :root represents the <html> element. It is identical to the html selector*/
  --dark-green:#0b4838;
  --light-gray:#dcddde;
  --lime-yellow:#f1db5c;
}

.App { /* Selects all elements with class="App"*/
  text-align: start;
}


h1, h2, h3{
  color: lightpink;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*#endregion GeneralStyles*/