.specials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 6em;
    align-content: center;
}

.specials-title {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    align-items: center;
}

.specials-title h1 {
    color: #333333;
    line-height: 0.8;
}

.specials button {
    padding: 15px 30px;
    margin-right: 5em;
    font-size: 16pt;
    font-weight: 600;
    background-color: #f4ce14;
    color: #333333;
    border-radius: 15px;
    border: none;
}

.specials button:hover {
    cursor: pointer;
    background-color: #333333;
    color: #f4ce14;
    transition: 0.3s;
}

.card-img-top {
    width: 95%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-bottom: -0.2em;
    box-shadow: 5px 10px 20px #ccc;
    margin-top: 8em;
}

.card {
    margin-top: -4em;
    margin-left: 1em;
    margin-right: 1em;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 1em;
}

.card-body {
    font-family: "Karla", sans-serif;
    background-color: #f2efef;
    margin-right: 1em;
    padding: 1em;
    line-height: 1.8em;
    height: 250px;
    box-shadow: 5px 10px 20px #ccc;
}

@media (min-width: 700px) {
    .card-body {
        height: 300px;
    }
}

.card-title {
    font-family: "Markazi Text", serif;
    font-size: 35px;
    font-weight: 600;
}

.btn-reserve-table.btn-primary {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 18px;
    border: none;
}

.title {
    width: 30%;
    height: auto;
    margin-right: 8em;
}

.title-button {
    width: 50%;
    height: auto;
    margin-top: 10.5em;
    margin-left: 15em;
}
